.profile {
  display: flex;
  padding-top: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.profile__sidebar {
  width: 250px;
  margin-right: 60px;
  flex-shrink: 0;
}

.profile__clothing-items {
  flex: 1;
}
