@font-face {
  font-family: "Familjen Grotesk";
  src: url(../../../public/fonts/FamiljenGrotesk-Regular.ttf);
}

.item__modal-container {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 670px;
  height: 368px;
}

.item__modal {
  display: flex;
  justify-content: center;
  margin: 20px;
  z-index: 2;
}

.item__modal-image {
  border-radius: 19px;
  min-height: 327px;
  min-width: 327px;
}

.item__modal-title {
  position: absolute;
  margin: 16px 0 0 0;
  padding: 0 12px;
  text-align: center;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border-radius: 4px;
}

.item__modal-weather {
  position: absolute;
  margin: 0;
  top: 33px;
  right: 182px;
  font-family: "Familjen Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.item__modal-delete_button {
  border: none;
  background-color: #fff;
  color: #ff4d00;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  display: flex;
  align-self: flex-end;
  margin-bottom: 32px;
}

.item__modal-delete_button:hover {
  cursor: pointer;
}
